@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted red; */
}

*:focus-visible {
  outline: dotted;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    min-width: 380px;
}

h1, h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: clamp(1.2rem, 1.2rem + 0.2vw, 1.5rem);
}

h3 {
  font-size: clamp(0.875rem, 0.875rem + 0.2vw, 1.125rem);
}

h4 {
  font-size: clamp(0.875rem, 0.875rem + 0.2vw, 1.125rem);
}

p {
  font-size: clamp(0.8rem, 0.8rem + 0.2vw, 1rem);
}

button, a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: clamp(0.875rem, 0.875rem + 0.2vw, 1.125rem);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

